<div ng-controller = 'DegreeProgrammeInfoController'>
	<table class="table" style="table-layout: fixed">
		<thead>
			<tr colspan=3>
				<td>You might also be interested in...</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<h4 style="cursor:pointer" ng-click="showDegreeProgramme(degreeProgramme.recommendationCode1)">{{degreeProgramme.recommendationCode1}}</h4>
				</td>
				<td>
					<h4 style="cursor:pointer" ng-click="showDegreeProgramme(degreeProgramme.recommendationCode2)">{{degreeProgramme.recommendationCode2}}</h4>
				</td>
				<td>
					<h4 style="cursor:pointer" ng-click="showDegreeProgramme(degreeProgramme.recommendationCode3)">{{degreeProgramme.recommendationCode3}}</h4>
				</td>
			</tr>
			<tr>
				<td>
					<h4 style="cursor:pointer" ng-click="showInternship(degreeProgramme.internships[0].internshipCode)">{{degreeProgramme.internships[0].internshipTitle}}</h4>
				</td>
				<td>
					<h4 style="cursor:pointer" ng-click="showInternship(degreeProgramme.internships[1].internshipCode)">{{degreeProgramme.internships[1].internshipTitle}}</h4>
				</td>
				<td>
					<h4 style="cursor:pointer" ng-click="showInternship(degreeProgramme.internships[2].internshipCode)">{{degreeProgramme.internships[2].internshipTitle}}</h4>
				</td>
			</tr>
		</tbody>
	</table>

	<br>
	<br>
	<br>
	
	<table class="table">
		<tr>
			<td>Degree unit code</td>
			<td>{{degreeProgramme.degreeUnitCode}}</td>
		</tr>
		<tr>
			<td>Degree programme title</td>
			<td>{{degreeProgramme.degreeProgrammeTitle}}</td>
		</tr>
		<tr>
			<td>Degree programme information</td>
			<td>{{degreeProgramme.information}}</td>
		</tr>
		<tr>
			<td>Location</td>
			<td>{{degreeProgramme.location}}</td>
		</tr>
		<tr>
			<td>Qualification</td>
			<td>{{degreeProgramme.qualification}}</td>
		</tr>
		<tr>
			<td>Url</td>
			<td>{{degreeProgramme.url}}</td>
		</tr>
		<tr>
			<td>Credit</td>
			<td>{{degreeProgramme.credit}}</td>
		</tr>
		<tr>
			<td>Degree programme access to further studies</td>
			<td>{{degreeProgramme.degreeProgrammeAccessToFurtherStudies}}</td>
		</tr>
		<tr>
			<td>Degree programme educational and professional goals</td>
			<td>{{degreeProgramme.degreeProgrammeEducationalAndProessionalGoals}}</td>
		</tr>
		<tr>
			<td>Degree programme structure diagram</td>
			<td>{{degreeProgramme.degreeProgrammeStructureDiagram}}</td>
		</tr>
		<tr>
			<td>Prerequisite</td>
			<td>{{degreeProgramme.prerequisite}}</td>
		</tr>
		<tr>
			<td>Departmental ECTS coordinator</td>
			<td>{{degreeProgramme.departmentalECTScoordinator}}</td>
		</tr>
		<tr>
			<td>Degree programme final examination</td>
			<td>{{degreeProgramme.degreeProgrammeFinalExamination}}</td>
		</tr>
		<tr>
			<td>Places</td>
			<td>{{degreeProgramme.places}}</td>
		</tr>
		<tr>
			<td>Language of instruction</td>
			<td>{{degreeProgramme.language}}</td>
		</tr>
		<tr>
			<td>Degree programme examination and assessment regulations</td>
			<td>{{degreeProgramme.degreeProgrammeExaminationAndAssessmentRegulations}}</td>
		</tr>
		<tr>
			<td>Start date</td>
			<td>{{degreeProgramme.start}}</td>
		</tr>
		<tr>
			<td>Duration</td>
			<td>{{degreeProgramme.duration}}</td>
		</tr>
		<tr>
			<td>Cost</td>
			<td>{{degreeProgramme.cost}}</td>
		</tr>
</div>