<div ng-controller="InstitutionsDisplayController">
	<table class="table">
	  <tr ng-repeat="institution in institutions" >
	    <td>
	    	<table class="table table-borderless">
	    		<thead>
	    			<tr><h4 style="cursor:pointer" ng-click="showInstitution(institution.identifier)">{{institution.identifier}} - {{institution.institutionName}}</h4></tr>
	    		</thead>
	    		<tbody>
	    			<tr>
	    				<th>
	    					Institution status:
	    				</th>
	    				<td>
	    					{{institution.institutionStatus}}
	    				</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>
	    					Institution type:
	    				</th>
	    				<td>
	    					{{institution.institutionType}}
	    				</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>
	    					Location:
	    				</th>
	    				<td>
	    					{{institution.institutionAddress}}
	    				</td>
	    			</tr>
	    			
	    			<tr>
	    				<th>
	    					Url:
	    				</th>
	    				<td>
	    					<a href='{{institution.url}}'>{{institution.url}}</a>
	    				</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </td>
	  </tr>
	</table>
</div>