<div>
<div class="col-md-4 col-md-offset-4">
    <h3>NEW REGISTRATION FOR
      STUDENT APPLICATION FORM </h3>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Your family name: </span>
    <input type="text" class="form-control" placeholder="Enter your family name" ng-model="familyname">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Your given name: </span>
    <input type="text" class="form-control" placeholder="Enter your given name" ng-model="givenname">
  </div>
      <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Your e-mail address: </span>
    <input type="text" class="form-control" placeholder="Enter your e-mail address" ng-model="email">
  </div>

<div class="col-md-4 col-md-offset-4">

  <button class="btn btn-primary" type="button" ng-click="signup()">
    Sign up
  </button>

</div>
</div>
</div>
