<div>
<div class="col-md-3 col-md-offset-3" style="width:60%;" >
    <h3>COURSE UNIT INSTANCE SPECIFICATION</h3>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit code: </span>
    <input type="text" class="form-control" placeholder="Enter Course unit code" ng-model="data.courseunitcode"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> Lecturer: </span>
    <input type="text" class="form-control" placeholder="Enter Lecturer " ng-model="data.lecturer "/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Language of instruction: </span>
    <input type="text" class="form-control" placeholder="Enter Language of instruction" ng-model="data.languageofinstruction"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Places: </span>
    <input type="text" class="form-control" placeholder="Enter Places" ng-model="data.places"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit type: </span>
    <input type="text" class="form-control" placeholder="Enter Course unit type" ng-model="data.courseunittype"/>
  </div>
   <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Url: </span>
    <input type="text" class="form-control" placeholder="Enter Url"  ng-model="data.url"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit term pattern </span>
    <select name="repeatSelect" id="repeatSelect" ng-model="data.selectedOption" class="form-control">
      <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit competence: </span>
    <textarea type="text" class="form-control"  placeholder="Enter course unit competence" ng-model="data.courseunitcompetence">
    </textarea>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit learning outcome: </span>
    <textarea type="text" class="form-control"  placeholder="Enter course unit learning outcome" ng-model="data.courseunitlearningoutcome">
    </textarea>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Prerequisite: </span>
    <textarea type="text" class="form-control"  placeholder="Enter prerequisite" ng-model="data.prerequisite">
    </textarea>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit recommended reading: </span>
    <textarea type="text" class="form-control"  placeholder="Enter course unit recommended reading" ng-model="data.courseunitrecommendedreading">
    </textarea>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit teaching methods: </span>
    <textarea type="text" class="form-control"  placeholder="Enter course unit teaching methods" ng-model="data.courseunitteachingmethods">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Course unit assessment methods: </span>
    <textarea type="text" class="form-control"  placeholder="Enter course unit assessment methods" ng-model="data.courseunitassessmentmethods">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Location: </span>
    <textarea type="text" class="form-control"  placeholder="Enter course location" ng-model="data.location">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Start: </span>
    <input type="text" class="form-control"   ng-model="data.start"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Duration: </span>
    <input type="number" class="form-control" step="0.1"  ng-model="data.duration"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Cost: </span>
    <input type="text" class="form-control" ng-model="data.cost"/>
  </div>
  

<div class="col-md-4 col-md-offset-4">
  <button class="btn btn-primary" type="button" ng-click="courseinstance()">
    Next
  </button>
</div>

</div>
</div>
