<div>
<div class="col-md-3 col-md-offset-3" style="width:60%;" >
    <h3>INSTITUTION</h3>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Identifier: </span>
    <input type="text" class="form-control" required placeholder="Enter Identifier for institution" ng-model="data.identifier"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution name: </span>
    <input type="text" class="form-control" required placeholder="Enter institution name" ng-model="data.name"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institutional ECTS coordinator: </span>
    <input type="text" class="form-control" required placeholder="Enter institution ETSC coordinator" ng-model="data.etsccoordinator"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution status: </span>
    <input type="text" class="form-control" required placeholder="Enter institution status" ng-model="data.institutionstatus"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution type: </span>
    <input type="text" class="form-control" required placeholder="Enter institution type" ng-model="data.institutiontype"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">URL: </span>
    <input type="text" class="form-control" required placeholder="Enter URL" ng-model="data.url"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution address: </span>
    <textarea type="text" class="form-control"  placeholder="Enter institution address" ng-model="data.institutionaddress">
    </textarea>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution main universityregulations: </span>
    <textarea type="text" class="form-control"  placeholder="Enter main universityregulations" ng-model="data.universityregulations">
    </textarea>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution general description: </span>
    <textarea type="text" class="form-control"  placeholder="Enter general description" ng-model="data.generaldescription">
    </textarea>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution main university regulations: </span>
    <textarea type="text" class="form-control"  placeholder="Enter Institution main university regulations" ng-model="data.mainuniversityregulations">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution academic authorities: </span>
    <textarea type="text" class="form-control" placeholder="Enter Institution academic authorities" ng-model="data.institutionacademicauthorities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution academic calendar: </span>
    <textarea type="text" class="form-control" placeholder="Enter Institution academic authorities" ng-model="data.institutionacademicauthorities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution admission procedures: </span>
    <textarea type="text" class="form-control"  placeholder="Enter Institution admission procedures" ng-model="data.institutionadmissionprocedures">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information for students: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information for students" ng-model="data.generalinformationforstudents">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information for mobile students: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information for mobile students" ng-model="data.generalinformationformobilestudents">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on accommodation: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on accommodation" ng-model="data.generalinformationonaccommodation">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on extramural and leisure facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on extramural and leisure facilities" ng-model="data.generalinformationonextramuralandleisurefacilities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on facilities for students with special needs: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on facilities for students with special needs" ng-model="data.generalinformationonfacilitiesforstudentswithspecialneeds">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on financial support: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on financial support" ng-model="data.generalinformationonfinancialsupport">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on insurance: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on insurance" ng-model="data.generalinformationoninsurance">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on international programmes: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on international programmes" ng-model="data.generalinformationoninternationalprogrammes">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on internships: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on internships" ng-model="data.generalinformationoninternships">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on language courses: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on language courses" ng-model="data.generalinformationonlanguagecourses">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on meals: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on meals" ng-model="data.generalinformationonmeals">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on medical facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on medical facilities" ng-model="data.generalinformationonmedicalonfacilities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on sports facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on sports facilities" ng-model="data.generalinformationonsportsfacilities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on student affairs office: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on student affairs office" ng-model="data.generalinformationonstudentaffairsoffice">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on student associations: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on student associations" ng-model="data.generalinformationonstudentassociations">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on study facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on study facilities" ng-model="data.generalinformationonstudyfacilities">
    </textarea>
  </div>
<div class="col-md-4 col-md-offset-4">
  <button class="btn btn-primary" type="button" ng-click="institution()">
    Next
  </button>

</div>
</div>
</div>
