<div>
<div class="col-md-3 col-md-offset-3" style="width:60%;" >
    <h3>INSTITUTION</h3>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Identifier*: </span>
    <input type="text" class="form-control" required placeholder="Enter Identifier for institution" ng-model="data.identifier"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution name*: </span>
    <input type="text" class="form-control" required placeholder="Enter institution name" ng-model="data.institutionName"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institutional ECTS coordinator: </span>
    <input type="text" class="form-control" required placeholder="Enter institution ETSC coordinator" ng-model="data.institutionalECTScoordinator"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution status: </span>
    <input type="text" class="form-control" required placeholder="Enter institution status" ng-model="data.institutionStatus"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution type: </span>
    <input type="text" class="form-control" required placeholder="Enter institution type" ng-model="data.institutionType"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">URL: </span>
    <input type="text" class="form-control" required placeholder="Enter URL" ng-model="data.url"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution address: </span>
    <textarea type="text" class="form-control"  placeholder="Enter institution address" ng-model="data.institutionAddress">
    </textarea>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution general description: </span>
    <textarea type="text" class="form-control"  placeholder="Enter general description" ng-model="data.institutionGeneralDescription">
    </textarea>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution main university regulations: </span>
    <textarea type="text" class="form-control"  placeholder="Enter Institution main university regulations" ng-model="data.institutionMainUniversityRegulations">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution academic authorities: </span>
    <textarea type="text" class="form-control" placeholder="Enter Institution academic authorities" ng-model="data.institutionAcademicAuthorities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution academic calendar: </span>
    <textarea type="text" class="form-control" placeholder="Enter Institution academic calendar" ng-model="data.institutionAcademicCalendar">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Institution admission procedures: </span>
    <textarea type="text" class="form-control"  placeholder="Enter Institution admission procedures" ng-model="data.institutionAdmissionProcedures">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information for students: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information for students" ng-model="data.generalInformationForStudents">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information for mobile students: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information for mobile students" ng-model="data.generalInformationForMobileStudents">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on accommodation: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on accommodation" ng-model="data.generalInformationOnAccommodation">
    </textarea>
  </div>
  
   <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on cost of living: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on cost of living" ng-model="data.generalInformationOnCostOfLiving">
    </textarea>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on extramural and leisure facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on extramural and leisure facilities" ng-model="data.generalInformationOnExtramuralAndLeisureFacilities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on facilities for students with special needs: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on facilities for students with special needs" ng-model="data.generalInformationOnFacilitiesForStudentsWithSpecialNeeds">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on financial support: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on financial support" ng-model="data.generalInformationOnFinancialSupport">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on insurance: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on insurance" ng-model="data.generalInformationOnInsurance">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on international programmes: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on international programmes" ng-model="data.generalInformationOnInternationalProgrammes">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on internships: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on internships" ng-model="data.generalInformationOnInternships">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on language courses: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on language courses" ng-model="data.generalInformationOnLanguageCourses">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on meals: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on meals" ng-model="data.generalInformationOnMeals">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on medical facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on medical facilities" ng-model="data.generalInformationOnMedicalFacilities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on sports facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on sports facilities" ng-model="data.generalInformationOnSportsFacilities">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on student affairs office: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on student affairs office" ng-model="data.generalInformationOnStudentAffairsOffice">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on student associations: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on student associations" ng-model="data.generalInformationOnStudentAssociations">
    </textarea>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">General information on study facilities: </span>
    <textarea type="text" class="form-control"  placeholder="Enter General information on study facilities" ng-model="data.generalInformationOnStudyFacilities">
    </textarea>
  </div>
<div class="col-md-4 col-md-offset-4">
  <button class="btn btn-primary" type="button" ng-click="institution()">
    Next
  </button>

</div>
</div>
</div>
