<div>
<div class="col-md-3 col-md-offset-3" style="width:60%;">
	 <div id="result" class="alert alert-info" role="alert" hidden><p id="resultText"></p></div>
	
	<h3>Enter your marks</h3>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Mathematical Analysis 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.MathematicalAnalysis1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Algebra: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Algebra"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Programming Languages and Data Structures: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ProgrammingLanguagesandDataStructures"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Physics: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Physics"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fundamentals of Electrical Engineering: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.FundamentalsofElectricalEngineering"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Computer Architecture: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ComputerArchitecture"/>
  </div>
  
  
   <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">English Language Basic: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.EnglishLanguageBasic"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">English Language Intermediate: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.EnglishLanguageIntermediate"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">English Language Advanced: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.EnglishLanguageAdvanced"/>
  </div> 
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">System Modeling and Simulation: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SystemModelingandSimulation"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Logic Design of Computer Systems 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.LogicDesignofComputerSystems1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Mathematical Analysis 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.MathematicalAnalysis2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Object Programming: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ObjectProgramming"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Operating Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.OperatingSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Sociological Aspects of Technical Development: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SociologicalAspectsofTechnicalDevelopment"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Automatic Control Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.AutomaticControlSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Real Time System Programming 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.RealTimeSystemProgramming1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Probability and Stochastic Processes: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ProbabilityandStochasticProcesses"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Optimization Methods: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.OptimizationMethods"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Electronics: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Electronics"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Databases 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Databases1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Real time control systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Realtimecontrolsystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fundamentals of Information Systems and Software Engineering: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.FundamentalsofInformationSystemsandSoftwareEngineering"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Real Time System Programming 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.RealTimeSystemProgramming2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Control Systems Technology: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ControlSystemsTechnology"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Numerical Algorithms and Numerical Software: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.NumericalAlgorithmsandNumericalSoftware"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fundamentals of Computer Networks 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.FundamentalsofComputerNetworks1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fundamentals of Process and Energy Engineering: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.FundamentalsofProcessandEnergyEngineering"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Compilers: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Compilers"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fundamentals of DSP Architecture and Algorithms 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.FundamentalsofDSPArchitectureandAlgorithms1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Automation in smart office residential buildings: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Automationinsmartofficeresidentialbuildings"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Computational Intelligence Fundamentals: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ComputationalIntelligenceFundamentals"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Logic Design of Computer Systems 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.LogicDesignofComputerSystems2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Software design for SCADA systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SoftwaredesignforSCADAsystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Web Programming: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.WebProgramming"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Selected Chapters in Physical Architecture Design: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SelectedChaptersinPhysicalArchitectureDesign"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Electrical Machines in Automatic Control Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ElectricalMachinesinAutomaticControlSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Human Computer Interaction: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.HumanComputerInteraction"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fundamentals of DSP Architecture and Algorithms 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.FundamentalsofDSPArchitectureandAlgorithms2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Geospatial Technologies: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.GeospatialTechnologies"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Internet Networks: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.InternetNetworks"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Computer Network Fundamentals 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ComputerNetworkFundamentals2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Biomedical Engineering Technologies: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.BiomedicalEngineeringTechnologies"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Software Specification and Modeling: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SoftwareSpecificationandModeling"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Dedicated Computer Structure Design 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DedicatedComputerStructureDesign1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Microprocessor Based Control Devices: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.MicroprocessorBasedControlDevices"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Digital Control Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DigitalControlSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Software Design: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SoftwareDesign"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">DSP Architecture and Algorithms 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DSPArchitectureandAlgorithms1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Control Systems Design: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ControlSystemsDesign"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Soft Computing: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SoftComputing"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Television and Image Processing Software 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.TelevisionandImageProcessingSoftware1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Fundamentals of Biomedical Engineering: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.FundamentalsofBiomedicalEngineering"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Computer Graphics: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ComputerGraphics"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Intercomputer Communications and Computer Networks 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.IntercomputerCommunicationsandComputerNetworks1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Geoinformation Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.GeoinformationSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Databases 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.Databases2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Real Time Software 1: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.RealTimeSoftware1"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Technical Equipment for Control Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.TechnicalEquipmentforControlSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Internet Software Architectures: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.InternetSoftwareArchitectures"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Real Time Software 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.RealTimeSoftware2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Professional Practice Project: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ProfessionalPracticeProject"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">DSP Applications in Control Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DSPApplicationsinControlSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">XML and WEB Services: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.XMLandWEBServices"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Dedicated Computer Structure Design 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DedicatedComputerStructureDesign2"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Methods of Medical Image Forming and Analysis: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.MethodsofMedicalImageFormingandAnalysis"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Information System Engineering: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.InformationSystemEngineering"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Knowledge Based Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.KnowledgeBasedSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Business Information Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.BusinessInformationSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Engineering of Computer Based Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.EngineeringofComputerBasedSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Process Control by Computer: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.ProcessControlbyComputer"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">E Business Systems Security: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.EBusinessSystemsSecurity"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Database Systems: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DatabaseSystems"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Software Patterns and Components: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.SoftwarePatternsandComponents"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Distributed Artificial Intelligence and Intelligent Agents: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DistributedArtificialIntelligenceandIntelligentAgents"/>
  </div>
  
 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">DSP Architecture and Algorithms 2: </span>
    <input type="text" class="form-control" required placeholder="Enter mark" ng-model="marks.DSPArchitectureandAlgorithms2"/>
  </div>
  
  <button class="btn btn-primary" type="button" ng-click="recommend()">
    Recommend courses
  </button>

   
</div>
</div>