<div>
<div class="col-md-4 col-md-offset-4">
    <h3>PERSONAL INFORMATION</h3>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Surname: </span>
    <input type="text" class="form-control" placeholder="Enter your surname" ng-model="data.familyname"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Name: </span>
    <input type="text" class="form-control" placeholder="Enter your name" ng-model="data.givenname"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Date of birth: </span>
    <input type="date" class="form-control"  ng-model="data.dateofbirth"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Country of birth </span>
    <input type="text" class="form-control"  ng-model="data.countryofbirth"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Place of birth </span>
    <input type="text" class="form-control"  ng-model="data.placeofbirth"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Gender </span>
    
     <select name="repeatSelect" id="repeatSelect" ng-model="data.selectedOption" class="form-control">
      <option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>

  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Nationality </span>
    <select  class="form-control"  ng-model="data.nationality1">
      <option ng-repeat="option in data.availableNationalities" value="{{option}}">{{option}}</option>
    </select>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> Street/nr:</span>
    <input  class="form-control"  ng-model="data.street"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> Postal code:</span>
    <input  class="form-control"  ng-model="data.postalcode"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> City: </span>
    <input  class="form-control"  ng-model="data.city"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> Country: </span>
    <input type="text" class="form-control"  ng-model="data.country"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> Telephone(incl. country code): </span>
    <input  class="form-control"  ng-model="data.telephone"/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> e-mail: </span>
    <input  class="form-control" type="email" ng-model="data.email"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> Password: </span>
    <input  class="form-control"  ng-model="data.password" type="password"/>
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"> Confirm password: </span>
    <input  class="form-control"  ng-model="data.passwordConfirmation" type="password"/>
  </div>
  
  
<div class="col-md-4 col-md-offset-4">
  <button class="btn btn-primary" type="button" ng-click="personalization()">
    Submit
  </button>

</div>
</div>
</div>
