<div>
	<div class="col-md-4 col-md-offset-4">
		<h3>APPLICATIONN</h3>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Degree programme: </span> <input
				type="text" class="form-control"
				placeholder="Enter passport identification" ng-model="degreeId"  ng-disabled="true"/>
		</div>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Student id: </span> <input
				type="text" class="form-control"
				placeholder="Enter passport identification" ng-model="student.id" ng-disabled="true"/>
		</div>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Passport: </span> <input
				type="text" class="form-control"
				placeholder="Enter passport identification" ng-model="data.passport" />
		</div>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">ID card: </span> <input
				type="text" class="form-control" placeholder="Enter ID card number"
				ng-model="data.idcard" />
		</div>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Upload CV (pdf): </span> 
			<input type="file" class="form-control"
				file-model="cvFile"  onchange="angular.element(this).scope().uploadFile(this.files)"/>
		</div>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Upload motivational letter (pdf): </span> 
			<input type="file" class="form-control"
				file-model="myFile" onchange="angular.element(this).scope().uploadFile(this.files)"/> 
		</div>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Upload transcript (pdf): </span> 
			<input type="file" class="form-control"
				file-model="myFile" onchange="angular.element(this).scope().uploadFile(this.files)"/> 
		</div>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">Upload diploma (pdf): </span> 
			<input type="file" class="form-control"
				file-model="myFile" onchange="angular.element(this).scope().uploadFile(this.files)"/> 
		</div>


		<div class="col-md-4 col-md-offset-4">
			<button class="btn btn-primary" type="button"
				ng-click="personalization()">Submit</button>

		</div>
	</div>
</div>
